<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.pushdy">
    <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/default_notification_channel_id" />
</manifest>
